@charset "UTF-8";
.wrapper { /*全てを囲む*/
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
   }

.table {/*テーブルを作成*/
margin: 0 auto;
border: solid;

}



input[type=text]:focus,/*カーソルがのった時に背景色をつける*/
textarea:focus {
	color: #003a6c;
	background-color: #d9f6ff;
}

.btn {　/*ボタンを左右中央揃えにした*/
    margin-top: 10px;
    text-align: center;
}