<!doctype html>
<html>
<head>
<title>Index Page</title>
</head>
<body>
<h2><?php echo $sampleText; ?></h2>
<div>
<?php echo $this->Html->image(’sample-img.jpg’,array(’alt’ =>’サンプル画像’));?>
<P>htmlタグも使えます。</p>
</div>

</body>
</html>